.A1 {
  background-color: skyblue;
}

.A2 {
  background-color: rgb(240, 162, 220);
}

.A3 {
  background-color: rgb(170, 250, 174);
}

body {
  display: flex;
  background-color: rgb(252, 234, 231);
}

h1 {
  color: white;
}

h2 {
  width: fit-content;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.active {
  background-color: tomato;
}

.sexy-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
