.A1 {
  background-color: skyblue;
}

.A2 {
  background-color: rgb(240, 162, 220);
}

.A3 {
  background-color: rgb(170, 250, 174);
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 234, 231);
}

h1 {
  color: white;
}

h2 {
  width: fit-content;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.active {
  background-color: tomato;
}

.sexy-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  font-weight: bold;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

form [type="text"],
form [type="email"],
form [type="password"],
form [type="date"] {
  border: none;
  border-radius: 3px;
  padding: 3px 6px;
}

form [type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: rgb(41, 28, 28);
  color: white;
}
